---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Home" previewObject={{page:undefined, blogPost:undefined}}>
	<main>
    <div class="error-page">
      <h1>404: Not Found</h1>
      <p>You just hit a route that doesn&#39;t exist... the sadness.</p>
    </div>
	</main>
</Layout>
