---
import { log } from "console";
import type { FeaturedBlog } from "../type/components";
type Props = {
  blogs: FeaturedBlog[];
};
const { blogs } = Astro.props;
---

<>
  {
    blogs?.map((blog) => (
      <a href={blog.url}>
        <div>
          <h4>{blog.title}</h4>
          {typeof blog.body === "string" && (
            <div set:html={blog.body.slice(0, 80)}></div>
          )}
        </div>
      </a>
    ))
  }
</>
